@import "variables";

nav {
    .container_enlaces {
        height: 40px;
        background-color: $primary_color;

        display: flex;

        .enlaces {
            width: 100%;

            display: flex;
            justify-content: space-between;

            .enlace_logo {
                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .enlaces_usuarios {
                font-size: .75rem;

                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    text-decoration: none;
                }

                .separacion {
                    margin: 0 .8rem;
                }
            }
        }
    }

    .container_navBar {
        height: 60px;
        background-color: $secondary_color;

        display: flex;

        .navBar {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navBar_logo {
                a {
                    img {
                        height: 1.8rem;
                        width: 60px;
                    }
                }
            }

            .navBar_nav {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li {
                        margin: 0 4px 0 4px;

                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.main_wrapper {
    text-align: center;
    background-color: $secondary_color;

    .carrucel {
        height: 60px;
        background-color: $primary_color;
    }

    .enunciado {

        p {
            margin: 8px 0 8px 0;
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;
        text-align: start;

        .card {
            p {
                padding: 8px;
            }
        }
    }
}

footer {
    background-color: $terceary_color;

    h5 {
        color: $font_secondary_color;
    }

    a,
    p {
        color: $font_terceary_color;
    }

    .mas_opciones {
        display: flex;
        padding: 50px 23px 50px 23px;

        div {
            display: flex;
            flex-direction: column;
            width: 100%;

            a,
            button {
                padding: 8px 0 8px 0;
            }
        }
    }

    .legales {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid white;

        .ubicacion {
            a {
                color: $font_secondary_color;
            }
        }

        padding: 20px 23px 20px 23px;

        a,
        p {
            display: inline;
            padding: 0 8px 0 8px;
        }
    }
}