/*-------------------------------------------------*/
/*Fonts*/
.rem-titulos {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding: 8px 0 8px 0;
  font-size: 45px; }

.rem-texto, * {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 8px 0 8px;
  color: #000; }

/*-------------------------------------------------*/
/*Reset y Parametros base*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

/*-------------------------------------------------*/
/*Clases para establer parametros*/
.container_padding {
  padding: 0 23px 0 23px; }

img {
  width: 100%; }

/*-------------------------------------------------*/
nav .container_enlaces {
  height: 40px;
  background-color: #f5f5f5;
  display: flex; }
  nav .container_enlaces .enlaces {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    nav .container_enlaces .enlaces .enlace_logo img {
      width: 24px;
      height: 24px; }
    nav .container_enlaces .enlaces .enlaces_usuarios {
      font-size: .75rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .container_enlaces .enlaces .enlaces_usuarios a {
        text-decoration: none; }
      nav .container_enlaces .enlaces .enlaces_usuarios .separacion {
        margin: 0 .8rem; }

nav .container_navBar {
  height: 60px;
  background-color: #fff;
  display: flex; }
  nav .container_navBar .navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .container_navBar .navBar .navBar_logo a img {
      height: 1.8rem;
      width: 60px; }
    @media (max-width: 1000px) {
      nav .container_navBar .navBar .navBar_nav {
        display: none; } }
    nav .container_navBar .navBar .navBar_nav ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      nav .container_navBar .navBar .navBar_nav ul li {
        margin: 0 4px 0 4px; }
        nav .container_navBar .navBar .navBar_nav ul li a {
          font-size: 16px; }

.main_wrapper {
  text-align: center;
  background-color: #fff; }
  .main_wrapper .carrucel {
    height: 60px;
    background-color: #f5f5f5; }
  .main_wrapper .enunciado p {
    margin: 8px 0 8px 0; }
  .main_wrapper .cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    text-align: start; }
    @media (max-width: 650px) {
      .main_wrapper .cards {
        flex-direction: column; } }
    .main_wrapper .cards .card {
      width: 100%;
      max-width: 550px;
      padding: 20px 0; }
      .main_wrapper .cards .card p {
        padding: 8px; }

footer {
  background-color: #111; }
  footer h5 {
    color: #fff; }
  footer a,
  footer p {
    color: #7e7e7e; }
  footer .mas_opciones {
    display: flex;
    padding: 50px 23px 50px 23px;
    gap: 10px; }
    @media (max-width: 650px) {
      footer .mas_opciones {
        flex-direction: column; } }
    footer .mas_opciones div {
      display: flex;
      flex-direction: column;
      width: 100%; }
      footer .mas_opciones div a,
      footer .mas_opciones div button {
        padding: 8px 0 8px 0; }
    footer .mas_opciones .redes__sociales {
      width: 30%;
      display: flex;
      gap: 10px; }
      @media (max-width: 650px) {
        footer .mas_opciones .redes__sociales {
          flex-direction: row; } }
      footer .mas_opciones .redes__sociales a {
        width: 50%;
        min-width: 50px; }
  footer .legales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    gap: 1px;
    flex-wrap: wrap;
    padding: 20px 23px 20px 23px; }
    @media (max-width: 650px) {
      footer .legales {
        flex-direction: column; } }
    footer .legales .ubicacion {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .legales .ubicacion a {
        color: #fff; }
      @media (max-width: 650px) {
        footer .legales .ubicacion {
          flex-direction: column; } }
    footer .legales .legales__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
    footer .legales a,
    footer .legales p {
      display: inline;
      padding: 0 8px 0 8px; }
