/*-------------------------------------------------*/
/*Font colors*/
.rem-titulos {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem; }

.rem-texto, * {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000; }

/*-------------------------------------------------*/
/*Clases para establer parametros*/
.container--padding {
  padding: 0 23px 0 23px; }

.enlace--sub-rayado {
  text-decoration: underline; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  width: 100%; }

nav .container_enlaces {
  height: 40px;
  background-color: #f5f5f5;
  display: flex; }
  nav .container_enlaces .enlaces {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    nav .container_enlaces .enlaces .enlace_logo img {
      width: 24px;
      height: 24px; }
    nav .container_enlaces .enlaces .enlaces_usuarios {
      font-size: .75rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .container_enlaces .enlaces .enlaces_usuarios a {
        text-decoration: none; }
      nav .container_enlaces .enlaces .enlaces_usuarios .separacion {
        margin: 0 .8rem; }

nav .container_navBar {
  height: 60px;
  background-color: #fff;
  display: flex; }
  nav .container_navBar .navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .container_navBar .navBar .navBar_logo {
      width: 100%;
      max-width: 270px; }
      nav .container_navBar .navBar .navBar_logo a img {
        width: 60px;
        height: 30px; }
    @media (max-width: 1000px) {
      nav .container_navBar .navBar .navBar_nav {
        display: none; } }
    nav .container_navBar .navBar .navBar_nav ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      nav .container_navBar .navBar .navBar_nav ul li {
        margin: 0 4px 0 4px; }
        nav .container_navBar .navBar .navBar_nav ul li a {
          font-size: 16px; }
    nav .container_navBar .navBar .hacermasadelante {
      width: 100%;
      max-width: 270px;
      display: flex;
      justify-content: flex-end; }

footer {
  background-color: #111; }
  footer h5 {
    color: #fff; }
  footer a,
  footer p {
    color: #7e7e7e; }
  footer .mas_opciones {
    display: flex;
    padding: 50px 0 50px 0;
    gap: 10px; }
    @media (max-width: 650px) {
      footer .mas_opciones {
        flex-direction: column; } }
    footer .mas_opciones div {
      display: flex;
      flex-direction: column;
      width: 100%; }
      footer .mas_opciones div a,
      footer .mas_opciones div button {
        padding: 8px 0 8px 0; }
    footer .mas_opciones .redes__sociales {
      width: 30%;
      display: flex;
      gap: 10px; }
      @media (max-width: 650px) {
        footer .mas_opciones .redes__sociales {
          flex-direction: row; } }
      footer .mas_opciones .redes__sociales a {
        width: 50%;
        min-width: 50px; }
  footer .legales {
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    flex-wrap: wrap;
    padding: 20px 0px; }
    @media (max-width: 650px) {
      footer .legales {
        flex-direction: column; } }
    footer .legales .ubicacion {
      display: flex;
      align-items: center; }
      footer .legales .ubicacion a {
        color: #fff; }
      @media (max-width: 650px) {
        footer .legales .ubicacion {
          flex-direction: column; } }
    footer .legales .legales__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }

.slider {
  height: 70px;
  background-color: #f5f5f5; }
  .slider .slider__container {
    width: 400px;
    margin: auto;
    overflow: hidden; }
    @media (max-width: 445px) {
      .slider .slider__container {
        width: 300px; } }
    .slider .slider__container .slider__contain {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: slide ease 30s infinite;
      animation-delay: 4s;
      width: 1600px;
      height: 70px; }
      @media (max-width: 445px) {
        .slider .slider__container .slider__contain {
          animation-name: slideMobile;
          width: 1200px; } }
      .slider .slider__container .slider__contain div {
        width: 400px; }
        @media (max-width: 445px) {
          .slider .slider__container .slider__contain div {
            width: 300px; } }

@keyframes slide {
  3% {
    transform: translateX(-400px); }
  13% {
    transform: translateX(-400px); }
  16% {
    transform: translateX(-800px); }
  31% {
    transform: translateX(-800px); }
  34% {
    transform: translateX(-1200px); }
  47% {
    transform: translateX(-1200px); }
  51% {
    transform: translateX(-800px); }
  64% {
    transform: translateX(-800px); }
  67% {
    transform: translateX(-400px); }
  80% {
    transform: translateX(-400px); }
  83% {
    transform: translateX(0); }
  95% {
    transform: translateX(0); } }

@keyframes slideMobile {
  3% {
    transform: translateX(-300px); }
  13% {
    transform: translateX(-300px); }
  16% {
    transform: translateX(-600px); }
  31% {
    transform: translateX(-600px); }
  34% {
    transform: translateX(-900px); }
  47% {
    transform: translateX(-900px); }
  51% {
    transform: translateX(-600px); }
  64% {
    transform: translateX(-600px); }
  67% {
    transform: translateX(-300px); }
  80% {
    transform: translateX(-300px); }
  83% {
    transform: translateX(0); }
  95% {
    transform: translateX(0); } }

.main-page__wrapper {
  text-align: center;
  background-color: #fff; }
  .main-page__wrapper .enunciado p {
    margin: 8px 0 8px 0; }
  .main-page__wrapper .cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    text-align: start; }
    @media (max-width: 650px) {
      .main-page__wrapper .cards {
        flex-direction: column; } }
    .main-page__wrapper .cards .card {
      width: 100%;
      max-width: 550px;
      padding: 20px 0; }
      .main-page__wrapper .cards .card p {
        padding: 8px; }
